---
import { getCollection } from "astro:content";
import TitledLayout from "../../layouts/TitledLayout.astro";
import { Github, Globe } from "lucide-solid";

const projects = await getCollection("projects");
---

<TitledLayout title="Projects">
   <ol class="grid grid-cols-1 gap-x-8 gap-y-8 py-8 px-16 lg:grid-cols-2">
      {
         projects
            .sort((a, b) => -a.data.order + b.data.order)
            .slice(0, 4)
            .map(({ data: { title, website, github, tech, bullets, devpost }, id }) => (
               <li class="flex flex-row gap-x-4 justify-between p-4 max-w-full bg-#180849/40 backdrop-blur-4px rounded-40px">
                  <div class="flex flex-col gap-y-2">
                     <a href={`/projects/${id}`} class="">
                        <h3 class="max-w-full text-3xl lg:text-4xl xl:text-5xl font-heading">
                           {title}
                        </h3>
                     </a>
                     <ul class="flex flex-col gap-y-1 list-disc">
                        {bullets.map((b) => (
                           <li class="ml-4 text-sm text-sky-100 text-pretty lg:text-md">{b}</li>
                        ))}
                     </ul>
                  </div>
                  <div class="flex flex-col gap-y-4 justify-between p-2">
                     <a class="" href={"https://github.com/" + github}>
                        <Github class="" size={32} />
                     </a>

                     {!!website && (
                        <a class="" href={website}>
                           <Globe class="" size={32} />
                        </a>
                     )}
                     {!!devpost && (
                        <a class="" href={devpost}>
                           <svg
                              role="img"
                              viewBox="0 0 24 24"
                              xmlns="http://www.w3.org/2000/svg"
                              style="fill: currentColor"
                           >
                              <path d="M6.002 1.61L0 12.004 6.002 22.39h11.996L24 12.004 17.998 1.61zm1.593 4.084h3.947c3.605 0 6.276 1.695 6.276 6.31 0 4.436-3.21 6.302-6.456 6.302H7.595zm2.517 2.449v7.714h1.241c2.646 0 3.862-1.55 3.862-3.861.009-2.569-1.096-3.853-3.767-3.853Z" />
                           </svg>
                        </a>
                     )}
                  </div>
               </li>
            ))
      }
   </ol>
</TitledLayout>
