---
import { ViewTransitions } from "astro:transitions";
import { getOgURL } from "../og.ts";

import "@fontsource/norwester";
import norwesterWoff2 from "@fontsource/norwester/files/norwester-latin-400-normal.woff2";
import "@fontsource/monaspace-radon/500.css";
import "@fontsource/monaspace-krypton/300.css";
import "@fontsource-variable/raleway";

export interface Props {
   title: string;
   description: string;
   tags?: string[];
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description, tags } = Astro.props;

const ogURL = getOgURL(title, tags);
const fullTitle = `Rohan's ${title}`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/webp" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{fullTitle}</title>
<meta name="title" content={fullTitle} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogURL} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={fullTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogURL} />

<ViewTransitions />
<link rel="preload" as="font" type="font/woff2" href={norwesterWoff2} crossorigin="anonymous" />
