---
import type { getCollection } from "astro:content";
import Icon from "../icons/Icon.astro";
import Link from "../icons/Link.astro";
import Github from "../icons/Github.astro";

type Project = Awaited<ReturnType<typeof getCollection<"projects">>>[number];
export type Props = Pick<Project, "body" | "data">;

const {
  data: { website, repo, title },
  body,
} = Astro.props;
---

<div
  class='flex flex-col gap-5 gradient from-slate-900 to-slate-800 hover:from-slate-900 hover:to-coolgray-900 text-heading not-prose border border-1 border-sky-300 hover:border-sky-500 rounded-4 p-4'
>
  <h3 class='text-center text-3xl hover:text-pink-500'>
    <a class='' href={website} target='_blank'>
      {title}
    </a>
  </h3>
  <p class='text-sm text-center text-slate-300'>{body}</p>
  <div class='flex flex-row justify-center gap-10'>
    <Icon href={website} title={title + " website link"} stroke>
      <Link />
    </Icon>
    <Icon href={repo} title={title + "github repo"}>
      <Github />
    </Icon>
  </div>

  <style>
    .text-heading {
      color: var(--headings);
    }
    .gradient {
      --un-gradient-stops: var(--un-gradient-from), var(--un-gradient-to);
      --un-gradient: var(--un-gradient-shape), var(--un-gradient-stops);
      background: linear-gradient(var(--un-gradient));
      background-size: 400% 400%;
    }
    .gradient:hover {
      animation: gradient-animation 5s ease infinite;
    }

    @keyframes gradient-animation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  </style>
</div>
