---
import type { getCollection } from "astro:content";
import Icon from "../icons/Icon.astro";
import Link from "../icons/Link.astro";
import Github from "../icons/Github.astro";
import Wrapper from "./Wrapper.astro";

type Project = Awaited<ReturnType<typeof getCollection<"projects">>>[number];
export type Props = Pick<Project, "body" | "data" | "slug">;

const {
  data: { website, repo, title, blurb },
  slug,
} = Astro.props;
---

<Wrapper>
  <h3 class='text-center text-3xl hover:text-cyan-400 hover:cyan-pink'>
    <a class='' href={`/projects/${slug}`}>
      {title}
    </a>
  </h3>
  <p class='text-sm text-center text-slate-300'>{blurb}</p>
  <div class='flex flex-row justify-center gap-10'>
    <Icon href={website} title={title + " website link"} stroke>
      <Link />
    </Icon>
    <Icon href={repo} title={title + "github repo"}>
      <Github />
    </Icon>
  </div>
  <slot />
</Wrapper>
