---
import type { getCollection } from "astro:content";
import Icon from "../icons/Icon.astro";
import Link from "../icons/Link.astro";
import Github from "../icons/Github.astro";
import Wrapper from "./Wrapper.astro";

type Project = Awaited<ReturnType<typeof getCollection<"projects">>>[number];
export type Props = Pick<Project, "body" | "data" | "slug">;

const {
   data: { website, repo, title, blurb },
   slug,
} = Astro.props;
---

<Wrapper>
   <h3 class="hover:cyan-pink text-center text-3xl hover:text-cyan-400">
      <a class="" href={`/projects/${slug}`}>
         {title}
      </a>
   </h3>
   <a
      class="md:text-md text-bluegray-200 -my-4 mx-auto text-sm hover:text-slate-300"
      href={`/projects/${slug}`}>click here for more info</a
   >
   <p class="text-center text-sm text-slate-300">{blurb}</p>
   <div class="flex flex-row justify-center gap-10">
      <Icon href={website} title={title + " website link"} stroke>
         <Link />
      </Icon>
      <Icon href={repo} title={title + "github repo"}>
         <Github />
      </Icon>
   </div>
   <slot />
</Wrapper>
