---
import { getCollection } from "astro:content";
import TitledLayout from "../layouts/TitledLayout.astro";
import { Image } from "astro:assets";
import {} from "lucide-solid";

const albums = await getCollection("albums");
---

<TitledLayout title="Music">
   <ol class="grid grid-cols-1 gap-x-8 gap-y-8 py-8 px-16 lg:grid-cols-2">
      {
         albums.map(({ data }) => (
            <li class="bg-#180849/40 backdrop-blur-4px rounded-40px flex flex-row p-4 gap-x-4">
               <div class="place-self-center ml-4 w-100px min-w-100px">
                  <Image
                     inferSize
                     src={data.image}
                     alt={`${data.name} by ${data.artists.map(({ name }) => name).join(", ")}`}
                     class="w-full h-auto rounded-md"
                  />
               </div>
               {/* TODO: make this wrap around instead of this goofy multi line stuff */}
               <div class="flex-1 text-sky-400">
                  <a
                     href={
                        !!data.spotifyId
                           ? `https://open.spotify.com/album/${data.spotifyId}`
                           : `https://open.spotify.com/search/${encodeURIComponent(data.name)}`
                     }
                  >
                     <h3 class="max-w-full text-2xl lg:text-3xl xl:text-4xl font-heading">
                        {data.name}
                     </h3>
                  </a>
                  <h4 class="font-sans italic sm:text-xl lg:text-2xl xl:text-xl 2xl:text-2xl">
                     {data.artists.map(({ name }) => name).join(", ")}
                  </h4>
               </div>
            </li>
         ))
      }
   </ol>
</TitledLayout>
